<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <center>
      <section class="section">

        <div class="container">
          <h1 class="title">
            <strong>Xavier Refour</strong>
          </h1>
          <p class="subtitle">
            <strong>dev fullstack rails</strong>
          </p>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="notification">

            <div class="columns">
              <div class="column">
                <strong>
                  <p class="bd-notification is-info">à propos de moi</p>
                </strong>
                <br>
                <div class="columns is-mobile">
                  <div class="column">
                    <p class="bd-notification is-info"></p>

                    <i class="fab fa-linux" style="font-size:60px;color:purple;text-shadow:2px 2px 4px #9AECDB;"></i>
                    <br>
                    <br>

                    <p>Passer sur linux depuis 2004.</p>
                    <p>Principalement sur arch et ubuntu.</p>
                    <p>je sais m'adapte au autres OS.</p>
                    <p>le terminal ne me fait pas peur.</p>

                  </div>
                  <div class="column">
                    <p class="bd-notification is-info"></p>
                    <i class="fas fa-laptop-code" style="font-size:60px;color:purple;text-shadow:2px 2px 4px #9AECDB;"></i>
                    <br>
                    <br>

                    <p>je suis curieux et j'aime apprendre de nouvelles methodes et decouvir de nouveaux outils de nouveaux frameworks .</p>
                  </div>
                  <div class="column">
                    <p class="bd-notification is-info"></p>
                    <i class="fas fa-code" style="font-size:60px;color:purple;text-shadow:2px 2px 4px #9AECDB;"></i>
                    <br>
                    <br>

                    <p>persévérant et patient quand il faut débuguer. captiver par le développement mobile ce site est responsive.</p>

                  </div>

                </div>
              </div>

            </div>
          </div>

        </section>
      </center>


      <br>
      <br>
    </body>
  </html>
