<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
<center>
  <section class="section">

    <div class="container">
      <h1 class="title">
      <strong>Xavier Refour</strong>
      </h1>
      <p class="subtitle">
        <strong>dev fullstack rails</strong>
      </p>
    </div>
<br>
<br>
    <div class="container">
      <div class="notification">

    <div class="columns">
    <div class="column">
      <p class="bd-notification is-info">First column</p>
      <br>
      <div class="columns is-mobile">
        <div class="column">
          <p class="bd-notification is-info">First nested column</p>



<i class="fab fa-linux" style="font-size:60px;color:purple;text-shadow:2px 2px 4px #9AECDB;"></i>
        </div>
        <div class="column">
          <p class="bd-notification is-info">Second nested column</p>
<i class="fas fa-bug"style="font-size:60px;color:purple;text-shadow:2px 2px 4px #9AECDB;"></i>
        </div>
        <div class="column">
            <p class="bd-notification is-info">third nested column</p>
          </div>

      </div>
    </div>

    </div>
    </div>


  </section>
</center>

  </body>
</html>
